*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background: rgb(19, 17, 17);
  color: rgb(245, 162, 8);
  height: 100vh; 
}

/* clases para agegar al archivo index.html */
.body-index{
  display: flex;
  align-items: center;
  justify-content: center;
}

.xspadding {
  padding: 2px ;
  margin: 0 ;
}

/* clases para la seccion 'búsqueda' */
.div-input{
  background-color: rgb(248, 169, 21);
}

.input{
  outline: none;
  border: none;
  width:250px;
  background-color:  rgb(248, 169, 21);
  color: beige;
}

.glyphicon-search,a{
  color: beige;
}
/* clases para la seccion footer*/
a:hover{
  color: rgb(167, 164, 162) 
}

/* clases para agregar a objetos jquery */

/* clases para dispositivos tablets'sm' */
@media (min-width:768px){
  .title{
    font-size: 80px;
  }
  
  .subtitle{
    font-size: 50px;
  }

  .input{
    width:450px;
    height: 40px;
  }

  h3{
    font-size: 30px
  }

  a{
    font-size: 18px;
  }
  
  .smpadding{
    padding: 2px ;
  }

  .smpadding2{
    padding:0 0 0 62px ;
  }

  p{
    line-height: 100px;
    font-size: 20px;
  }

}

/* clases para dispositivos desktops'md' */
@media (min-width:992px){
  .title{
    font-size: 100px;
  }
  
  .subtitle{
    font-size: 70px;
  }

  .input{
    width:550px;
    height: 40px;
  }

  h3{
    font-size: 35px
  }

  a{
    font-size: 18px;
  }

  .mdpadding{
    margin: 0 0 0 20px ;
  }

  p{
    line-height: 200px;
    font-size: 30px;
  }

}

/* clases para dispositivos desktops'lg' */
@media (min-width:1200px){

}