<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <!--estructura de la seccion 'header'-->
    <header>
      <div class="container">
        <div class="row">
          <h1 class="text-center title">FOOD<em>map</em><span class="glyphicon glyphicon-search "></span></h1>
        </div>
      </div>
    </header>
    <!--estructura de la sección de 'location'-->
    <section class="location">
      <div class="container">
        <div class="row"> 
          <img class="img-responsive col-xs-12" src="../assets/images/cercado-lima.png" alt="">            
        </div>
      </div>  
    </section>
    <!--estructura de la sección 'search'-->
    <section class="search">
      <div class="container ">
        <div class="row text-center ">
          <h2 class="subtitle">Comida cerca de ti!</h2>
          <div class="div-input btn">  
            <input class="input" type="text" placeholder="ingrese nombre del distrito en que se ubica">
            <span class="glyphicon glyphicon-search "></span>
          </div>          
        </div>
        <br>
        <br>
        <div class="row">
          <h2 class="name-distrito text-center"></h2>
          <div class="col-xs-12">
            <figure id="imagen0" class=" imagen col-xs-4 xspadding">
              <img id="img0"  class="img-responsive xspadding col-xs-4" src=""data-toggle="modal" data-target="#myModal" >
              <h5 class="restaurant0" data-toggle="modal" data-target="#myModal"></h5>
            </figure>
            <figure id="imagen1" class="imagen imagen col-xs-4 xspadding">
              <img id="img1"  class="img-responsive xspadding col-xs-4" src="" data-toggle="modal" data-target="#myModal" >   
              <h5  class="restaurant1" data-toggle="modal" data-target="#myModal"></h5>
            </figure>
            <figure id="imagen2" class="imagen imagen col-xs-4 xspadding">
              <img id="img2" class="img-responsive xspadding col-xs-4" src="" data-toggle="modal" data-target="#myModal" >
              <h5 class="restaurant2" data-toggle="modal" data-target="#myModal"></h5>
            </figure>
            <figure id="imagen3" class="imagen imagen col-xs-6 xspadding">
              <img id="img3" class="img-responsive xspadding col-xs-6" src="" data-toggle="modal" data-target="#myModal" >
              <h5 class="restaurant3" data-toggle="modal" data-target="#myModal"></h5>
            </figure>
            <figure id="imagen4" class="imagen imagen col-xs-6 xspadding">
              <img id="img4" class="img-responsive xspadding col-xs-6" src="" data-toggle="modal" data-target="#myModal" >    
              <h5 class="restaurant4" data-toggle="modal" data-target="#myModal"></h5>
            </figure>           
          </div>
        </div>
      </div>
    </section>
    <!-- estructura del modal -->
    <section>
      <div class="container">
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content text-center">
              <!-- header del modal -->
              <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
              </div>
              <!-- body del modal -->
              <div class="modal-body ">
                <div class="figure">
                  <img id="image-modal" class="img-responsive" src="" alt="">
                </div>
                <ul>
                  <li class="li-1"></li>
                  <li class="li-2"></li>
                  <li class="li-3"></li>
                  <li class="li-4"></li>
                  <li class="li-5"></li>
                </ul>                 
              </div>
              <!-- footer del modal -->
              <div class="container-button modal-footer text-center">
                <button  type="button" class="button-modal btn btn-default" data-dismiss="modal">PEDIR AHORA</button>
              </div>
            </div>  
          </div>
        </div>  
      </div>
    </section>
    <!--estructura de la seccion 'footer'-->
    <footer>
      <div class="container ">
        <div class="row col-xs-12">
          <div class="col col-sm-4 col-md-3 col-lg-2 ">
            <h3>Places</h3>
            <ul class="list-unstyled">
              <li><a href="" class="">Breña</a></li>
              <li><a href="" class="">Cercado de Lima</a></li>
              <li><a href="" class="">Jesús María</a></li>
              <li><a href="" class="">La Victoria</a></li>   
              <li><a href="" class="">Pueblo Libre</a></li>
            </ul>
            <h3 class="visible-sm sm-padding-2">Prices</h3>
            <ul class="list-unstyled visible-sm">
              <li><a href="" class="">S/ 10+</a></li>
              <li><a href="" class="">S/ 20+</a></li>
              <li><a href="" class="">S/ 30+</a></li>
              <li><a href="" class="">S/ 40+</a></li>
              <li><a href="" class="">S/ 50+</a></li>
            </ul>
          </div>
          <div class="col sm-padding col-sm-4 col-md-3 col-lg-4 lg-padding">
            <h3>Restaurants</h3>
            <ul class="list-unstyled">
              <li><a href="" class="">Anticuchería Pepes</a></li>
              <li><a href="" class="">Bocatto</a></li>
              <li><a href="" class="">Cebichería María</a></li>
              <li><a href="" class="">Chicharrones del Inca</a></li>
              <li><a href="" class="">Chifa Express</a></li>
              <li><a href="" class="">Chifa Fu Sen</a></li>
              <li><a href="" class="">Chilis</a></li>
              <li><a href="" class="">Chun Koc Sen</a></li>
              <li><a href="" class="">Don Belisario(Salaverry)</a></li>
              <li><a href="" class="">Don Belisario(Sucre)</a></li>
              <li><a href="" class="">Del Mar al Paladar</a></li>
              <li><a href="" class="">D`Maximo Sabor</a></li>
              <li><a href="" class="">El Atlántico</a></li>
              <li><a href="" class="">El Cisne</a></li>
              <li><a href="" class="">El Pez On</a></li>
              <li><a href="" class="">El Pichito</a></li>
              <li><a href="" class="">El Tarwi</a></li>
              <li><a href="" class="">Huancahuasi</a></li>
              <li><a href="" class="">La Rocca</a></li>
              <li><a href="" class="">Norkys</a></li>
              <li><a href="" class="">Patrio</a></li>
              <li><a href="" class="">Puerto Norte</a></li>
              <li><a href="" class="">Rústica(Centro Cívico)</a></li>
              <li><a href="" class="">Rústica(Húsares)</a></li>
              <li><a href="" class="">Sarcletti</a></li>              
            </ul>
          </div>
          <div class="col col-sm-4 col-md-4 col-lg-4">
            <h3>Food</h3>
            <ul class="list-unstyled">
              <li><a href="" class="">Cocina peruana</a></li>
              <li><a href="" class="">Parrilladas</a></li>
              <li><a href="" class="">Carnes</a></li>
              <li><a href="" class="">Cocina marina/pescados</a></li>
              <li><a href="" class="">Pizzas</a></li>
              <li><a href="" class="">Cocina americana/hamburguesas</a></li>
              <li><a href="" class="">Cocina chifa</a></li>
              <li><a href="" class="">Cafetería/piqueos</a></li>
              <li><a href="" class="">Cocina regional</a></li>
              <li><a href="" class="">Cocina fusión/exótica</a></li>
              <li><a href="" class="">Cocina internacional</a></li>
              <li><a href="" class="">vegetariana/asiática</a></li>
              <li><a href="" class="">Cocina amazónica</a></li>
            </ul>
          </div>
          <div class="col hidden-sm col-md-2 col-lg-2">
            <h3>Prices</h3>
            <ul class="list-unstyled">
              <li><a href="" class="">S/ 10+</a></li>
              <li><a href="" class="">S/ 20+</a></li>
              <li><a href="" class="">S/ 30+</a></li>
              <li><a href="" class="">S/ 40+</a></li>
              <li><a href="" class="">S/ 50+</a></li>
            </ul>
          </div>
        </div>
        <div class="row text-center">
          <p>©2017Foodmap,inc.TermsPrivacy</p>
        </div>
      </div>            
    </footer>

    <script src="../vendors/js/jquery-3.2.1.min.js"></script>
    <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/data.js"></script>
    <script type="text/javascript" src="../js/search.js"></script>
  </body>
</html>
